//.invite-list
#tab-invite{
  .invite-list{

    .list-none{
      display: none;
      padding-top: 40px;
      .icons-sofa{
        background-image: url("../../../image/career/icon-sofa.png");
        display: inline-block;
        width: 128px;
        height: 98px;
        margin-bottom: 24px;
      }
    }
    &.none{
      .list-none{
        display: block;
      }
    }
  }
}