
#tab-media{
  width: 960px;
  a.active{
    color:#247ddc;
  }

}
//Media and SNS Reviews
#tab-media{
  .block-review{

  }
  .review-list{
    .clearfix();
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .review-item{
    float: left;
    width: 268px;
    height: 150px;
    padding: 26px;
    &.bottom{
      .item-wrap{
        padding: 0 6px 16px 0;
      }
    }
    .item-wrap{
      padding: 16px 6px 0;
      position: relative;
    }
    .bd-r{
      right: -26px;
      position: absolute;
      width: 1px;
      background-color: #f1f2f4;
      height: 100%;
      top: 0;
    }
    .bd-b{
      bottom: -26px;
      position: absolute;
      height: 1px;
      left: 0;
      background-color: #f1f2f4;
      width: 100%;
    }
    .logo-wrap{

    }
    .logo{

      line-height: 100px;
      background-position: center;
    }
    .name{
      display: block;
      line-height: 32px;
      font-size: 14px;
      color: #ccc;
    }
    .title{
      line-height: 24px;
      font-size: 14px;
      color: #999;
      margin: 8px 0 0;
    }
  }
}