<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

</head>

<body>
<div class="header-wrap">
    <div class="header-inner">
        <div class="header-logo">
            <h1>
                <a>h1</a>
            </h1>
        </div>
        <div class="header-nav">
            <ul class="nav-list">
                <li class="active"><a href="#">HOME</a></li>
                <li><a href="#" target="_blank">APPS</a></li>
                <li><a href="#" target="_blank">DEVELOPER</a></li>
                <li><a href="#" target="_blank">BLOG</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="main-wrap">
    <div id="block-privacy" class="block-privacy">
        <h1 class="block-title">PRIVACY POLICY</h1>
        <span class="block-date">Updated December 26, 2016</span>
        <div>
            <h2 class="block-subtitle">Overview</h2>
            <p>Nox Digital Entertainment Co. Limited, and its subsidiaries* (“Bignox.com”, “Nox” or “we”, or “our” or
                “us”), are committed to protecting your personal information and respecting your privacy. </p>
            <p>In general, you can visit Nox on the Web without telling us who you are or revealing any information
                about yourself. To the extent that you do provide information to Nox, Nox will never sell, rent or
                disclose your personally identifiable information to outside parties for their own marketing purposes
                without your consent. With your permission, Nox may send you e-mail regarding our new products,
                upgrades, or select third party products. We do not disclose your personally identifiable information to
                such third parties. </p>
        </div>
        <div>
            <h2 class="block-subtitle">Information That We Gather and Track</h2>
            <p>Nox only collects personal information which is reasonably necessary for its dealings with the
                individuals to whom the information relates.
                The types of personal information Nox collects will depend on the particular dealings we have with you.
                However, generally, we collect and hold personal information about existing and prospective customers,
                our third party service providers and suppliers, and employment applicants.</p>
            <p>Generally, Nox collects personal information directly from the individuals concerned. For instance, there
                are times when we may need to collect information from you through our Web Sites. This generally
                involves filling out forms so you can download or order a Nox or third party product from our Web Sites.
                When you download the products we require you to fill out a form with your name and email address.</p>
            <p>Nox may also collect personal information about individuals indirectly from third parties, such as from
                our business partners, from third party providers of marketing lists, and through various other methods,
                including:</p>
            <ul>
                <li>Cookies</li>
                <li>Referrers</li>
                <li>IP addresses</li>
                <li>System information</li>
            </ul>
            <p>None of these methods can be used to identify, or reasonably identify, you with the exception of cookies,
                which can optionally store information that you may enter in forms on our Web Sites.</p>
        </div>
        <div>
            <h2 class="block-subtitle">What We Do With the Information We Gather and Track</h2>
            <p>By using our website, you consent to the collection and use of your personal information by Nox as
                explained below.</p>
            <ul>
                <li>Personal Information</li>
            </ul>
            <p>You have complete control over your personal information. In general, you can visit our website without
                providing us with any personal information. However, there are instances where we must have your
                personal information in order for us to grant you access to our protected and secured sites. This
                information may include registration data (your name, address, email address, phone number, title,
                etc.), information request data and response data ("User Information"). When you receive your
                confirmation email or when you receive any email from the list server, you will be given instructions on
                how to remove yourself from the list.</p>
            <ul>
                <li>Use of User Information</li>
            </ul>
            <p>We intend to use such information for purposes of supporting your relationship with Nox by designing
                content that is suitable to your needs and alerting you to new product and service offerings as they
                become available. This User Information may be retained by Nox to verify compliance with the agreement
                between Nox and your employer, to keep track of the domains from which people visit us, to create a user
                profile to better serve you, or to simply contact you either electronically or otherwise. If you decide
                that we should not use your personal User Information to contact you, please let us know and we will not
                use that information for such purpose. However, please do not submit any User Information if you are
                less than 18 years of age.</p>
            <ul>
                <li>Disclosure of User Information</li>
            </ul>
            <p>Nox does not sell, trade or transfer User Information to third parties. However, we may share User
                Information with our business partners for marketing, advertising or product/service offering purposes.
                We disclose User Information if: we have your consent; we need to share it in order to provide you with
                the products and/or services you requested; we respond to a court order or you violate our Terms of Use.
                You may separately agree to provide your personal information to third parties that provide content for
                Nox offerings, in order to access and/or use their products and/or services. If you agree to provide
                such information to these third parties, then your personal information will be subject to their privacy
                policies.</p>
            <ul>
                <li>Accuracy and Security</li>
            </ul>
            <p>The accuracy and security of the User Information is important to Nox. If you contact us to correct your
                User Information, we will attempt to correct such inaccuracies in a timely manner. Nox is concerned with
                the security of your User Information and is committed to taking reasonable steps to protect it from
                unauthorized access and use of that personal information. To that end, we put in place the appropriate
                physical, electronic and managerial policies and procedures to secure your personal User Information. We
                also continue to implement procedures to maintain accurate, complete and current User Information.</p>
            <ul>
                <li>Cookies</li>
            </ul>
            <p>Nox uses "cookies". The use of cookies is an industry standard, and you'll find cookies at most major
                websites. A cookie is a small data file that a website can transfer to a visitor's hard drive to keep
                records of the visits to such site. A cookie contains information, such as your User Information, that
                helps us recognize the pages you have visited and improve future visits, but the only personal
                information a cookie can contain is the information that you provide yourself. A cookie cannot read data
                off of your hard drive or read cookie files created by other sites. If you prefer not to accept a
                cookie, you can set your Web browser to refuse all cookies or to warn you before accepting a cookie. You
                can still access most of the features on our website even without accepting a cookie.</p>
            <ul>
                <li>External Links</li>
            </ul>
            <p>Nox’s website provides links to other third party websites. Even if the third party is affiliated with
                Nox through a business partnership or otherwise, Nox is not responsible for the privacy policies or
                practices or the content of such external links. These links are provided to you for convenience
                purposes only and you access them at your own risk.</p>
            <ul>
                <li>Google Analytics and Advertising</li>
            </ul>
            <p>Nox uses all features of Google Analytics for Display Advertisers. This includes obtaining specific
                visitor cookie data, such as the source, medium and keyword used to visit our Web Sites. Google
                Analytics does not store any visitor-specific data and we will not use visitor-specific data in any way
                related to Google Analytics, Google AdWords, and Remarketing. Nox and other third-party vendors,
                including Google, use first-party cookies (such as the Google Analytics cookie) and third-party cookies
                (such as the DoubleClick cookie) together to inform, optimize, and serve ads based on visitors’ past
                visits to our Web Sites.</p>
        </div>
        <div>
            <h2 class="block-subtitle">Terms of Use</h2>
            <p>Please also see our Terms of Use, which describes the restrictions, disclaimers, indemnification and limitation of liability governing the use of the entire Nox website.</p>
        </div>
        <div>
            <h2 class="block-subtitle">What We Do With the Information We Gather and Track</h2>
            <p>By using our website, you consent to the collection and use of your personal information by Nox as
                explained below.</p>
            <ul>
                <li>Personal Information</li>
            </ul>
            <p>You have complete control over your personal information. In general, you can visit our website without
                providing us with any personal information. However, there are instances where we must have your
                personal information in order for us to grant you access to our protected and secured sites. This
                information may include registration data (your name, address, email address, phone number, title,
                etc.), information request data and response data ("User Information"). When you receive your
                confirmation email or when you receive any email from the list server, you will be given instructions on
                how to remove yourself from the list.</p>
            <ul>
                <li>Use of User Information</li>
            </ul>
            <p>We intend to use such information for purposes of supporting your relationship with Nox by designing
                content that is suitable to your needs and alerting you to new product and service offerings as they
                become available. This User Information may be retained by Nox to verify compliance with the agreement
                between Nox and your employer, to keep track of the domains from which people visit us, to create a user
                profile to better serve you, or to simply contact you either electronically or otherwise. If you decide
                that we should not use your personal User Information to contact you, please let us know and we will not
                use that information for such purpose. However, please do not submit any User Information if you are
                less than 18 years of age.</p>
            <ul>
                <li>Disclosure of User Information</li>
            </ul>
            <p>Nox does not sell, trade or transfer User Information to third parties. However, we may share User
                Information with our business partners for marketing, advertising or product/service offering purposes.
                We disclose User Information if: we have your consent; we need to share it in order to provide you with
                the products and/or services you requested; we respond to a court order or you violate our Terms of Use.
                You may separately agree to provide your personal information to third parties that provide content for
                Nox offerings, in order to access and/or use their products and/or services. If you agree to provide
                such information to these third parties, then your personal information will be subject to their privacy
                policies.</p>
            <ul>
                <li>Accuracy and Security</li>
            </ul>
            <p>The accuracy and security of the User Information is important to Nox. If you contact us to correct your
                User Information, we will attempt to correct such inaccuracies in a timely manner. Nox is concerned with
                the security of your User Information and is committed to taking reasonable steps to protect it from
                unauthorized access and use of that personal information. To that end, we put in place the appropriate
                physical, electronic and managerial policies and procedures to secure your personal User Information. We
                also continue to implement procedures to maintain accurate, complete and current User Information.</p>
            <ul>
                <li>Cookies</li>
            </ul>
            <p>Nox uses "cookies". The use of cookies is an industry standard, and you'll find cookies at most major
                websites. A cookie is a small data file that a website can transfer to a visitor's hard drive to keep
                records of the visits to such site. A cookie contains information, such as your User Information, that
                helps us recognize the pages you have visited and improve future visits, but the only personal
                information a cookie can contain is the information that you provide yourself. A cookie cannot read data
                off of your hard drive or read cookie files created by other sites. If you prefer not to accept a
                cookie, you can set your Web browser to refuse all cookies or to warn you before accepting a cookie. You
                can still access most of the features on our website even without accepting a cookie.</p>
            <ul>
                <li>External Links</li>
            </ul>
            <p>Nox’s website provides links to other third party websites. Even if the third party is affiliated with
                Nox through a business partnership or otherwise, Nox is not responsible for the privacy policies or
                practices or the content of such external links. These links are provided to you for convenience
                purposes only and you access them at your own risk.</p>
            <ul>
                <li>Google Analytics and Advertising</li>
            </ul>
            <p>Nox uses all features of Google Analytics for Display Advertisers. This includes obtaining specific
                visitor cookie data, such as the source, medium and keyword used to visit our Web Sites. Google
                Analytics does not store any visitor-specific data and we will not use visitor-specific data in any way
                related to Google Analytics, Google AdWords, and Remarketing. Nox and other third-party vendors,
                including Google, use first-party cookies (such as the Google Analytics cookie) and third-party cookies
                (such as the DoubleClick cookie) together to inform, optimize, and serve ads based on visitors’ past
                visits to our Web Sites.</p>
        </div>
        <div>
            <h2 class="block-subtitle">Changes to our Privacy Policies</h2>
            <p>We revise our Web Site Privacy policy to keep it up to date with Nox products, services and web pages. We will notify you of any changes we make by posting an updated version of this policy on our Web Sites.  Any changes will take effect when they are so posted.  We also post FAQ’s from time to time on specific products.</p>
        </div>
        <div>
            <h2 class="block-subtitle">Contacting Us about Privacy</h2>
        <p>If you have any questions about this privacy statement, the practices of our software or Web Sites, or wish to make a complaint about our handling practices, you may contact:</p>
            <p>support at bignox dot com, or go to our <a href="/about" target="_blank">Contact Us page</a></p>
            <p>We will investigate any complaints received in writing and do our best to resolve them with you as soon as possible.</p>
        </div>
    </div>
</div>
<div class="footer-wrap">
    <div class="footer-inner">
        <div class="logo-wrap">
            <span class="footer-logo">

            </span>
        </div>
        <div class="footer-block">
            <span class="block-title">SOLUTION</span>
            <ul class="nav-list">
                <li><a href="#" target="_blank">Player for PC</a></li>
                <li><a href="#" target="_blank">Player for Mac</a></li>
                <li><a href="#" target="_blank">Dev Center</a></li>
                <li><a href="#" target="_blank">Game Center</a></li>
            </ul>
        </div>
        <div class="footer-block">
            <span class="block-title">COMPANY</span>
            <ul class="nav-list">
                <li><a href="#" target="_blank">About Nox</a></li>
                <li><a href="#" target="_blank">Press Center</a></li>
                <li><a href="#" target="_blank">Careers</a></li>
                <li><a href="#" target="_blank">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer-block">
            <span class="block-title">FOLLOW US</span>
            <ul class="nav-list">
                <li><a href="#" target="_blank">Facebook</a></li>
                <li><a href="#" target="_blank">Twitter</a></li>
                <li><a href="#" target="_blank">Google+</a></li>
                <li><a href="#" target="_blank">Youtube</a></li>
            </ul>
        </div>
        <div class="language-block">
            <span class="block-title">LANGUAGE</span>
            <span class="copyright">2015-2017&copy;Duodian Technology Co.ltd.</span>
            <span>All rights reserved.<a class="active" target="_blank" href="#">Privacy Policy</a></span>
        </div>
    </div>
</div>
</body>
</html>
