<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>

<body>
<div class="header-wrap">
    <div class="header-inner">
        <div class="header-logo">
            <h1>
                <a>h1</a>
            </h1>
        </div>
        <div class="header-nav">
            <ul class="nav-list">
                <li class="active"><a href="#">HOME</a></li>
                <li><a href="#" target="_blank">APPS</a></li>
                <li><a href="#" target="_blank">DEVELOPER</a></li>
                <li><a href="#" target="_blank">BLOG</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="banner-wrap">
    <div class="banner-inner">
        OUR COMPANY
    </div>
</div>
<div class="main-wrap">
    <div class="main-nav-wrap">
        <div class="main-nav-inner">
            <div class="nav-list">
                <a href="/about" class="nav-item">About Nox</a>
                <a href="/media" class="nav-item">Press Center</a>
                <a href="/invite" class="nav-item active">Careers</a>
                <a href="/contact" class="nav-item">Contact Us</a>
            </div>
        </div>
    </div>
    <div id="tab-invite" class="nav-tab tab-invite">
        <div class="tab-block">
            <h2 class="block-title">We're hiring!</h2>
            <div class="invite-list none">
                <div class="list-none">
                    <span class="icons-sofa"></span>
                    <p class="block-abstract">
                        There are no current openings
                    </p>
                    <p class="block-abstract">
                        please check back soon
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-wrap">
    <div class="footer-inner">
        <div class="logo-wrap">
            <span class="footer-logo">
            </span>
        </div>
        <div class="footer-block">
            <span class="block-title">SOLUTION</span>
            <ul class="nav-list">
                <li><a href="#" target="_blank">Player for PC</a></li>
                <li><a href="#" target="_blank">Player for Mac</a></li>
                <li><a href="#" target="_blank">Dev Center</a></li>
                <li><a href="#" target="_blank">Game Center</a></li>
            </ul>
        </div>
        <div class="footer-block">
            <span class="block-title">COMPANY</span>
            <ul class="nav-list">
                <li><a href="#" target="_blank">About Nox</a></li>
                <li><a href="#" target="_blank">Press Center</a></li>
                <li><a href="#" target="_blank">Careers</a></li>
                <li><a href="#" target="_blank">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer-block">
            <span class="block-title">FOLLOW US</span>
            <ul class="nav-list">
                <li><a href="#" target="_blank">Facebook</a></li>
                <li><a href="#" target="_blank">Twitter</a></li>
                <li><a href="#" target="_blank">Google+</a></li>
                <li><a href="#" target="_blank">Youtube</a></li>
            </ul>
        </div>
        <div class="language-block">
            <span class="block-title">LANGUAGE</span>
            <span class="copyright">2015-2017&copy;Duodian Technology Co.ltd.</span>
            <span>All rights reserved.<a class="active" target="_blank" href="#">Privacy Policy</a></span>
        </div>
    </div>
</div>
</body>
</html>
