<% include templates/top.ejs %>
<div class="header-wrap">
    <div class="header-inner">
        <div class="header-logo">
            <h1>
                <a>h1</a>
            </h1>
        </div>
        <div class="header-nav">
            <ul class="nav-list">
                <li class="active"><a href="#">HOME</a></li>
                <li><a href="#" target="_blank">APPS</a></li>
                <li><a href="#" target="_blank">DEVELOPER</a></li>
                <li><a href="#" target="_blank">BLOG</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="banner-wrap">
    <div class="banner-inner">

    </div>
</div>
<div class="main-wrap">
    <div class="main-nav-wrap">
        <div class="main-nav-inner">
            <div class="nav-list">
                <span class="active nav-item">About Nox</span>
                <span class="nav-item">Press Center</span>
                <span class="nav-item">Contact Us</span>
            </div>
        </div>
    </div>
    <div class="nav-tab about">

    </div>
</div>
<div class="footer-wrap">
</div>
<script src="../script/main.js"></script>
</body>
</html>
