<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

</head>

<body>
<div class="header-wrap">
    <div class="header-inner">
        <div class="header-logo">
            <h1>
                <a>h1</a>
            </h1>
        </div>
        <div class="header-nav">
            <ul class="nav-list">
                <li class="active"><a href="#">HOME</a></li>
                <li><a href="#" target="_blank">APPS</a></li>
                <li><a href="#" target="_blank">DEVELOPER</a></li>
                <li><a href="#" target="_blank">BLOG</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="banner-wrap">
    <img src="../image/banner-about.jpg" class="banner-inner"/>
    <span class="banner-title">
        OUR COMPANY
    </span>
</div>
<div class="main-wrap">
    <div class="main-nav-wrap">
        <div class="main-nav-inner">
            <div class="nav-list">
                <a href="about" class="active nav-item">About Nox</a>
                <a href="media" class="nav-item">Press Center</a>
                <a href="invite" class="nav-item">Careers</a>
                <a href="contact" class="nav-item">Contact Us</a>
            </div>
        </div>
    </div>
    <div id="tab-about" class="nav-tab tab-about">
        <div class="tab-block">
            <h2 class="block-title">Who We Are</h2>
            <h3 class="block-subtitle">We make Android Emulator that runs APK Apps and games on Windows and Mac with the best experience.</h3>
            <p class="block-abstract">
                Nox Digital Entertainment Co. Limited is a team of like-minded geeks who live in Hong Kong and develop the best App player software loved by mobile Apps and games users around the world.  We have over 150 million users in more than 150 countries and 20 different languages. Nox is committed to providing the best digital solution for our end users and make connects of Android, Windows and Mac.  Our mission is to be the open platform to combine digital and traditional advertising and help Android software distribution.
            </p>
        </div>
        <div class="tab-block">
            <h2 class="block-title">Our Products</h2>
            <h3 class="block-subtitle">Nox App Player for Windows and Mac</h3>
            <p class="block-abstract">
                Free Android emulator dedicated to bring the best experience for users to play Android games and apps on PC and Mac. Users can assign keyboard and mouse to the APK games and Apps with simple key mapping and enjoy easy access to functions like location, , adjust volume, and many more.
            </p>
            <div class="block-download">
                <a class="download-btn win" href="#">
                    <span class="icon"></span><span class="title">Download For PC</span>
                </a>
                <a class="download-btn mac" href="#">
                    <span class="icon"></span><span class="title">Download For Mac</span>
                </a>
            </div>
        </div>
        <div class="tab-block">
            <h2 class="block-title">Join the Nox Community</h2>
            <p class="block-abstract">
                Become a member of our SNS and make the most of our relationship
            </p>
            <div class="block-sns">
                <ul>
                    <li><a class="fb" target="_blank" href="#"><span class="icon"></span><span class="title">Facebook</span></a></li>
                    <li><a class="tw" target="_blank" href="#"><span class="icon"></span><span class="title">Twitter</span></a></li>
                    <li><a class="gp" target="_blank" href="#"><span class="icon"></span><span class="title">Google+</span></a></li>
                    <li><a class="yt" target="_blank" href="#"><span class="icon"></span><span class="title">Youtube</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="footer-wrap">
    <div class="footer-inner">
        <div class="logo-wrap">
            <span class="footer-logo">

            </span>
        </div>
        <div class="footer-block">
            <span class="block-title">SOLUTION</span>
            <ul class="nav-list">
                <li><a href="#" target="_blank">Player for PC</a></li>
                <li><a href="#" target="_blank">Player for Mac</a></li>
                <li><a href="#" target="_blank">Dev Center</a></li>
                <li><a href="#" target="_blank">Game Center</a></li>
            </ul>
        </div>
        <div class="footer-block">
            <span class="block-title">COMPANY</span>
            <ul class="nav-list">
                <li><a href="#" target="_blank">About Nox</a></li>
                <li><a href="#" target="_blank">Press Center</a></li>
                <li><a href="#" target="_blank">Careers</a></li>
                <li><a href="#" target="_blank">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer-block">
            <span class="block-title">FOLLOW US</span>
            <ul class="nav-list">
                <li><a href="#" target="_blank">Facebook</a></li>
                <li><a href="#" target="_blank">Twitter</a></li>
                <li><a href="#" target="_blank">Google+</a></li>
                <li><a href="#" target="_blank">Youtube</a></li>
            </ul>
        </div>
        <div class="language-block">
            <span class="block-title">LANGUAGE</span>
            <span class="copyright">2015-2017&copy;Duodian Technology Co.ltd.</span>
            <span>All rights reserved.<a class="active" target="_blank" href="/privacy">Privacy Policy</a></span>
        </div>
    </div>
</div>
</body>
</html>
