@import "normalize.css";
//@import "font-awesome.css";

@import "dinproregular.css";
@bg-color:white;
html{
  font-family: "dinproregular","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}
body{
  background: @bg-color;
  font-size: 12px;
}


@import "mixin";
@import "header";
@import "banner";
@import "main.nav.less";
