<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>

<body>
<div class="header-wrap">
    <div class="header-inner">
        <div class="header-logo">
            <h1>
                <a>h1</a>
            </h1>
        </div>
        <div class="header-nav">
            <ul class="nav-list">
                <li class="active"><a href="#">HOME</a></li>
                <li><a href="#" target="_blank">APPS</a></li>
                <li><a href="#" target="_blank">DEVELOPER</a></li>
                <li><a href="#" target="_blank">BLOG</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="banner-wrap">
    <img src="../image/banner-about.jpg" class="banner-inner"/>
    <span class="banner-title">
        OUR COMPANY
    </span>
</div>
<div class="main-wrap">
    <div class="main-nav-wrap">
        <div class="main-nav-inner">
            <div class="nav-list">
                <a href="/about" class="nav-item">About Nox</a>
                <a href="/media" class="nav-item active">Press Center</a>
                <a href="/invite" class="nav-item">Careers</a>
                <a href="/contact" class="nav-item">Contact Us</a>
            </div>
        </div>
    </div>
    <div id="tab-media" class="nav-tab tab-media">
        <div class="tab-block">
            <h2 class="block-title">Press Releases and Announcements</h2>
            <div class="block-press">
                <ul class="press-list">
                    <li class="list-wrap">
                        <div class="list-item">
                            <div class="logo-wrap">
                                <img class="logo" src="../image/media/media-logo01.png">
                            </div>
                            <span class="time">Nov 30 2016</span>
                            <a target="_blank" href="http://www.ibtimes.sg/how-play-android-games-windows-10-pc-5109" class="title"
                            title="How to play Android games on Windows 10 PC">
                                How to play Android games on Windows 10 PC
                            </a>
                            <span class="icon"><b class="dot"></b></span>
                        </div>
                    </li>
                    <li class="list-wrap">
                        <div class="list-item">
                            <div class="logo-wrap">
                                <img class="logo" src="../image/media/media-logo02.png">
                            </div>
                            <span class="time">Nov 13 2016</span>
                            <a href="http://www.prnewswire.com/news-releases/nox-app-player-rolls-out-custom-android-emulator-development-service-300355798.html" target="_blank" class="title"
                            title="Nox App Player rolls out custom Android emulator development service">
                                Nox App Player rolls out custom Android emulator development service
                            </a>
                            <span class="icon"><b class="dot"></b></span>
                        </div>
                    </li>
                    <li class="list-wrap">
                        <div class="list-item">
                            <div class="logo-wrap">
                                <img class="logo" src="../image/media/media-logo03.png">
                            </div>
                            <span class="time">Aug 31 2016</span>
                            <a href="http://www.gamenguide.com/articles/42136/20160831/pokemon-go-cheats-tips-tricks-nox-app-player-enables-users-to-play-the-most-updated-version-on-pcs.htm" class="title" target="_blank"
                            title="'Pokemon GO' Cheats, Tips & Tricks: Nox App Player Enables Users to Play the Most-Updated Version on PCs">
                                'Pokemon GO' Cheats, Tips & Tricks: Nox App Player Enables Users to Play the Most-Updated Version on PCs
                            </a>
                            <span class="icon"><b class="dot"></b></span>

                        </div>
                    </li>
                    <li class="list-wrap">
                        <div class="list-item">
                            <div class="logo-wrap">
                                <img class="logo" src="../image/media/media-logo04.png">
                            </div>
                            <span class="time">Aug 25 2016</span>
                            <a href="http://www.mobilenapps.com/articles/17501/20160825/pok%C3%A9mon-go-guide-pc-nox-app-player.htm" class="title" target="_blank"
                            title="'Pokémon GO' Guide: The Best Way To Play On PC Through Nox App Player">'Pokémon GO' Guide: The Best Way To Play On PC Through Nox App Player
                            </a>
                            <span class="icon"><b class="dot"></b></span>

                        </div>
                    </li>
                    <li class="list-wrap">
                        <div class="list-item">
                            <div class="logo-wrap">
                                <img class="logo" src="../image/media/media-logo05.png">
                            </div>
                            <span class="time">Aug 17 2015</span>
                            <a href="https://androidcommunity.com/nox-app-player-is-a-new-android-os-emulator-for-pc-20150817/" class="title" target="_blank"
                            title="Nox App Player is a new Android OS emulator for PC">
                                Nox App Player is a new Android OS emulator for PC</a>
                            <span class="icon"><b class="dot"></b></span>

                        </div>
                    </li>
                    <li class="list-wrap">
                        <div class="list-item">
                            <div class="logo-wrap">
                                <img class="logo" src="../image/media/media-logo06.png">
                            </div>
                            <span class="time">Aug 14 2015</span>
                            <a href="http://www.talkandroid.com/261120-nox-app-player-wants-to-be-the-best-android-emulator-for-your-pc/" class="title" target="_blank"
                            title="Nox App Player wants to be the best Android emulator for your PC">
                                Nox App Player wants to be the best Android emulator for your PC
                            </a>
                            <span class="icon"><b class="dot"></b></span>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-block">
            <h2 class="block-title">Media and SNS Reviews</h2>
            <div class="block-review">
                <ul class="review-list">
                    <li class="review-item">
                        <div class="item-wrap">
                            <div class="logo-wrap">
                                <img class="logo" src="../image/media/media-logo07.png">
                            </div>
                            <span class="name">by Rick Broida</span>
                            <a class="title" href="https://www.cnet.com/how-to/how-to-play-android-games-on-your-windows-pc/" target="_blank"
                            title="How to play Android games on your Windows PC">How to play Android games on your Windows PC</a>
                            <span class="bd-r"></span>
                            <span class="bd-b"></span>
                        </div>
                    </li>
                    <li class="review-item">
                        <div class="item-wrap">
                            <div class="logo-wrap">
                                <img class="logo" src="../image/media/media-logo08.png">
                            </div>
                            <span class="name">by David Nield</span>
                            <a href="http://fieldguide.gizmodo.com/play-android-games-on-your-pc-using-nox-app-player-1757425717" class="title" target="_blank"
                               title="Play Android Games on Your PC">Play Android Games on Your PC</a>
                            <span class="bd-r"></span>
                            <span class="bd-b"></span>
                        </div>
                    </li>
                    <li class="review-item">
                        <div class="item-wrap">
                            <div class="logo-wrap">
                                <img class="logo" src="../image/media/media-logo09.png">
                            </div>
                            <span class="name">by Philip Iglauer</span>
                            <a href="http://www.zdnet.com/article/android-app-emulator-duodian-to-make-kakaos-mobile-games-available-on-pc/" class="title" target="_blank"
                            title="Android app emulator Duodian to make Kakao's mobile games available on PC">Android app emulator Duodian to make Kakao's mobile games available on PC</a>
                            <!--<span class="bd-r"></span>-->
                            <span class="bd-r"></span>
                            <span class="bd-b"></span>
                        </div>
                    </li>
                    <li class="review-item">
                        <div class="item-wrap">
                            <div class="logo-wrap">
                                <img class="logo" src="../image/media/media-logo10.png">
                            </div>
                            <span class="name">by Becca Caddy</span>
                            <a href="http://www.lifehacker.co.uk/2016/02/25/play-android-games-on-your-pc-with-this-emulator" class="title" target="_blank"
                            title="Play Android Games on Your PC with This Emulator">Play Android Games on Your PC with This Emulator</a>
                            <span class="bd-r"></span>
                            <span class="bd-b"></span>
                        </div>
                    </li>
                    <li class="review-item">
                        <div class="item-wrap">
                            <div class="logo-wrap">
                                <img class="logo" src="../image/media/media-logo11.png">
                            </div>
                            <span class="name">by Joe Hindy</span>
                            <a href="http://www.androidauthority.com/best-android-emulators-for-pc-655308/" class="title" target="_blank"
                            title="9 best Android emulators for PC - Android Authority">9 best Android emulators for PC - Android Authority</a>
                            <span class="bd-r"></span>
                            <span class="bd-b"></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-block">
            <h2 class="block-title">Press Contact</h2>
            <p class="block-abstract">
                Support at bignox dot com,or go to pur <a href="/contact" class="active" title="Contact Us page">Contact Us page</a>
            </p>
        </div>
    </div>
</div>
<div class="footer-wrap">
    <div class="footer-inner">
        <div class="logo-wrap">
            <span class="footer-logo">
            </span>
        </div>
        <div class="footer-block">
            <span class="block-title">SOLUTION</span>
            <ul class="nav-list">
                <li><a href="#" target="_blank">Player for PC</a></li>
                <li><a href="#" target="_blank">Player for Mac</a></li>
                <li><a href="#" target="_blank">Dev Center</a></li>
                <li><a href="#" target="_blank">Game Center</a></li>
            </ul>
        </div>
        <div class="footer-block">
            <span class="block-title">COMPANY</span>
            <ul class="nav-list">
                <li><a href="#" target="_blank">About Nox</a></li>
                <li><a href="#" target="_blank">Press Center</a></li>
                <li><a href="#" target="_blank">Careers</a></li>
                <li><a href="#" target="_blank">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer-block">
            <span class="block-title">FOLLOW US</span>
            <ul class="nav-list">
                <li><a href="#" target="_blank">Facebook</a></li>
                <li><a href="#" target="_blank">Twitter</a></li>
                <li><a href="#" target="_blank">Google+</a></li>
                <li><a href="#" target="_blank">Youtube</a></li>
            </ul>
        </div>
        <div class="language-block">
            <span class="block-title">LANGUAGE</span>
            <span class="copyright">2015-2017&copy;Duodian Technology Co.ltd.</span>
            <span>All rights reserved.<a class="active" target="_blank" href="#">Privacy Policy</a></span>
        </div>
    </div>
</div>
</body>
</html>
